
<ion-content padding>
	<ion-grid>
  <ion-row class="header-bar-sce">
			<ion-col  col-1 class="header-back-arrow" ><img src="assets/simages/left-arrow.png" alt=""></ion-col>
    <ion-col col-9>
    <ion-searchbar [(ngModel)]="searchText" (ngModelChange)="search($event)">
		</ion-searchbar>
		 
	</ion-col>
    <ion-col  col-2 class="selected-items" > 
    	<span (click)="showSelectedItems()" class="item-count" [ngClass]="{'active-class': showSelected}" 
    	[innerText]="selectedItems.length"></span></ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
	<ion-row >
		<ion-col col-6 *ngFor="let item of items"   class="" (click)="selectItem(item)">
		<ion-card class="img-box">
		    <img [src]="item.image"/>
		    	<span class="tick-mark"><ion-icon *ngIf="item.selected" ios="ios-checkbox" md="md-checkbox"></ion-icon></span>
		    <div class="item-names" [innerText]="item.annotation"></div>
 		 </ion-card>
		</ion-col>
		
	</ion-row>
</ion-grid>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
	<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
</ion-infinite-scroll>


</ion-content>
<ion-footer>
  <ion-toolbar>

     <button ion-button left color="#01bcd4" (click)="findMyLocation()">FIND MY DISH</button>

    <ion-buttons right>
      
       <button ion-button clear (click)="skipSelection()">SKIP</button>

    </ion-buttons>

  </ion-toolbar>
</ion-footer>
