page-landing {

	
	.tick-mark {
				font-size: 30px;
			    position: absolute;
			    bottom: 25px;
			    left: 75px;
			    color: #f21370;
		    
	},
	ion-col {
			.item-count{
			    border: 1px dashed #000;
			    font-size: 15px;
			    padding: 5px;
			    position: relative;
			    top: 20px;
			    left: 20px;
			    padding-left: 7px;
			    padding-right: 7px;
			    font-weight: 400;
			}
	}
	.active-class{
		background-color: #f21370;
		color : #fff;
	}
	.item-names{
		text-align: center;
	}
		
}
