




<ion-content padding>
	
    <ion-toolbar>
		<ion-buttons left clear> <ion-icon name="menu"></ion-icon></ion-buttons>
		
    	<ion-title medel><img src="assets/imgs/logo.png" ></ion-title>
    	<ion-buttons right (click)="showSeleted()">
   		   <ion-icon  name="ios-funnel-outline"><div class="funnel-count">{{selectedItems.length}}</div></ion-icon>	
    	</ion-buttons>
 	</ion-toolbar>
 <div class="add-sce" *ngIf="selectedItems.length>0">
 	<ion-item no-lines>
      <ion-scroll scrollX="true">
        <div class="ui button" *ngFor="let i of selectedItems;let x='index' ">{{i.annotation}}
			<ion-icon (click)="removeItem(x)" right ios="ios-close" md="md-close"></ion-icon>
		</div>
      </ion-scroll>
    </ion-item>	
</div>
 	<div class="custom-search">
	 	<ion-searchbar
		  [(ngModel)]="myInput" [disabled]=disabled
		  [showCancelButton]="shouldShowCancel"
		  (ionCancel)="onCancel($event)">
		  
		</ion-searchbar>   
	</div>
	<div *ngIf="!showDetailsView">
		<div class="restaurant-box" *ngFor="let res of restaurants">
			<ion-grid>
				<ion-row (click)="showDetails(res)">
					<ion-col col-4 class="items-imgs">
						<img [src]="res.image_url"></ion-col>
					<ion-col col-8 class="restaurant-bg">
							<h3>{{res.restaurant}}</h3>
							<div class="restaurant-pading">
						<ion-col col-3 class="restaurant-1Mile" *ngIf="res.matched">{{res.matched}}%</ion-col>
						<ion-col col-3 class="restaurant-1Mile" *ngIf="!res.matched">0%</ion-col>
						<ion-col col-3 class="restaurant-1Mile">1Mile</ion-col>
						<ion-col col-3 class="restaurant-icon-3"><img src="assets/simages/star-and-4.5-icon.png"></ion-col>
						<ion-col col-3 class="restaurant-icon-3"><img src="assets/simages/icon-3.png"></ion-col>
					</div>

					</ion-col>
				</ion-row>		
			</ion-grid>	
		</div>	
	</div>
	<div class="restaurant-detail-view" *ngIf="showDetailsView">
		<div class="show-rest-Img" [ngStyle]="{'background-image': 'url(' + selectedRestaurant.image_url + ')'}">
			<ion-row>
				<ion-col col-6 left >
					<div (click)="showRestaurants()" class="back-arrow" ><img src="assets/simages/left-arrow.png"></div>
				</ion-col>
				<ion-col col-6 right><div class="certified-logo"><img src="assets/simages/certified-logo.png"></div></ion-col>
			</ion-row>
		</div>
		<div class="restaurant-detail">
			<ion-row>
				<ion-col col-6 left>
					<h2>{{selectedRestaurant.restaurant}}</h2>				
				</ion-col>
				<ion-col col-2 left>
					<h2>{{selectedRestaurant.matched}}%</h2>				
				</ion-col>
				<ion-col col-2 left>
					1Mile		
				</ion-col>
				<ion-col col-2 right>
					<img src="assets/simages/star-icon.png">			
				</ion-col>
			
			
				<ion-col >
					<div class="makeit-links">
							<a (click)="makeCall()"><img src="assets/simages/call-icon.png"></a><a href="#"><span>Make it Favorite </span></a> <a href="#"><span class="i-dont"> I don't like this </span></a>
					</div>
				</ion-col>
			</ion-row>
			
			<div class="rest-content">
				<ion-row>
				<ion-col >
					<ul>
							<li class="item" *ngFor="let ingredient of selectedRestaurant.ingredients">{{ingredient}}</li>
							
					
					</ul>
				</ion-col>
				
			</ion-row>
			</div>
		</div>
	</div>

</ion-content>
