page-restaurants {

	.ui.button {
		cursor: pointer;
		display: inline-block;
		min-height: 1em;
		outline: 0;
		border: none;
		vertical-align: baseline;
		background: #e0e1e2 none;
		color: rgba(0,0,0,.6);
		font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
		margin: 0 .25em 0 0;
		padding: .78571429em 1.5em .78571429em;
		text-transform: none;
		text-shadow: none;
		font-weight: 700;
		line-height: 1em;
		font-style: normal;
		text-align: center;
		text-decoration: none;
		border-radius: .28571429rem;
		box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
		transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
		will-change: '';
		-webkit-tap-highlight-color: transparent;
	}

	.add-sce {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	
	.add-sce .item-md {
		padding: 0px;
   		font-size: 14px;
	}
	.add-sce .label-md{
		margin:0px;
	}
	.custom-search {
		padding: 5px;
		background-color: #01bcd4;
		margin-bottom: 10px;
	}
	.restaurant-box {
		border: 1px #ccc solid !important;
		margin-bottom: 2px;
	}

	.restaurant-box ion-grid.grid {
		padding: 0px !important;
	}

	.restaurant-box ion-row.row {
		margin: 0px;
		padding: 0px !important;
	}

	ion-scroll {
	    white-space: nowrap;
	    height: 60px;
	}	

	.restaurant-bg {
		background-color: #263238 !important;
		color: #fff;
		
	}

	.restaurant-bg h3 {
		margin: 0px;
		padding-bottom: 10px;
		text-align: left;
		font-size: 12px;
		/* padding-left: 15px; */
		padding-top: 10px;
		font-weight: normal;
		font-family: sans-serif;
		color: #f0f1f2;
		border-bottom: 1px #ababac7d solid;
		margin-left: 15px;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.restaurant-bg hr {
		width: 85%;
		padding: 0px;
		border-color: #dfe5e8 !important;
		margin-left: 15px;
		padding-top: 0px;
		margin-top: 0px;
	}

	.restaurant-1Mile {
		/* padding-top: 17px !important; */
		color: #f0f1f2;
		font-size: 12px;
		margin-top: 10px !important;
		/* padding-bottom: 10px; */
		vertical-align: super;
	}

	.restaurant-pading {
		/* padding-top: 20px !important; */
		color: #f0f1f2;
		font-size: 12px;
		padding-left: 12px !important;
		padding-bottom: 10px;
	}

	.restaurant-icon-3 {
		padding-top: 20px !important;
		/* padding-right: 43px !important; */
		text-align: right;
		/* margin-left: -10px; */
		padding-left: 20px;
	}
	.restaurant-detail-view{
		padding: 20px;

	}
	.show-rest-Img{
		border: 1px solid #000;
		height: 200px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.back-arrow{
		 height: 31px;
	    padding: 7px;
	    text-align: center;
	    background: rgba(255, 255, 255, 0.5);
	    width: 55px;
	    border-radius: 10px;
	}
	.certified-logo{
		float: right;
	}
	.restaurant-detail{
		background-color: #1c2930;
	    color: #fff;
	    padding: 6px;
	}
	.restaurant-detail h2{
		font-size: 15px;
	}
	.rest-content{
		padding: 0px;
		margin:0px;

	}
	.rest-content ul{
		line-height: 20px;
		color: #7d8285;
		padding:0px !important;
		margin : 0px !important;
		list-style-type: none;
	}
	
	.rest-content ul img {
	    height: 45px;
	    position: relative;
	    left: 65px;
	    padding-bottom: 10px;
}
.funnel-count{
	position: relative;
    z-index: 999;
    bottom: 25px;
    left: 5px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border-radius: 7px;
    color: #fff;
    background-color: #f2136f;

}
}

