

<ion-content padding>
	<div class="slider-header header-sce">
			<div ><img src="assets/imgs/header-logo.png" ></div>
		
	</div>
	<div class="slider-section">
		<ion-slides pager="true" autoplay="3000" loop="true" speed="1500">
		    <ion-slide *ngFor="let slide of slider" class="swiper-sce">
		      <img [src]="slide.src" class="slide-image"/>
		      <h1 [innerText]="slide.title"></h1>
		      <p>{{slide.desc}}</p>
		    </ion-slide>
		</ion-slides>
	</div>
	<div class="get-started">
		<button ion-button color="secondary" (click)="goLanding()">Get Started</button>
	</div>
</ion-content>
